.title {
  background-color: azure;
  height: 2em;
  font-weight: bold;
  font-style: normal;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.img {
  margin-left: 2em;
  height: 500px;
  width: 325px;
  object-fit: fill;

  background-blend-mode: multiply;
  background: none;
}

.description {
  width: 50%;
  text-align: justify;
}
.price {
  font-weight: bold;
  font-style: normal;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.footer {
  background-color: azure;
  width: 100%;
  font-size: 0.7em;
  font-style: normal;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.classLink {
  color: rgb(100, 100, 100);
}
.displHide {
  display: none;
}
